
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&display=swap');


body {
  font-family: 'Figtree', sans-serif;
}


.bg-contain {
  background-size: contain;
}
.bg-cover {
  background-size: cover;
}
.bg-auto {
  background-size: auto;
}
.bg-crop {
  background-size: 100% 100%;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.pos-init {
  top: 0px;
  left: 0px;
}
.image-div {
  background-color: transparent;
  background-position: center;
}


.wrapper {
  position: relative;
  max-width: 350px;
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}
.wrapper:hover {
  transform: scale(1.05);

}

.note {
  max-width: 350px;
  width: 100%;
  box-sizing: border-box;
  
  border: 1px solid #d2d6dc;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #f6faff;
}

.note-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.note-label {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.label-icon {
  width: 24px;
  height: 24px;
}

.label-test{
  display: flex;
  margin-left: 130px;
  gap: 10px;
  
}


.icon-text {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

.label-text {
  font-size: 17px;
  font-weight: 600;
  color: #005bda;
}

.status {
  display: none;
  padding: 2px 8px;
  border-radius: 6px;
  background: #007657;
}

.status-text {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

.note-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 17px;
  font-weight: 600;
  color: #000;
}

.details {
  font-size: 15px;
  font-weight: 400;
  color: #000;
}

.footnote {
  font-size: 13px;
  font-weight: 400;
  color: #666;
}

.note-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 12px 20px;
  background: #cfd6ec;
}
.note-footer svg {
  padding: 1px;
  

}

.user-info {
  display: flex;
  align-items: center;
  
  
}

.user-avatar {
  width: 24px;
  height: 24px;
  margin-right: 3px;
}

.name-text {
  font-size: 15px;
  font-weight: 600;
  color: #000;
}

.timestamp {
  font-size: 13px;
  font-weight: 400;
  color: #2d2c2c;
}
