

.testNote {
    color: #252f4f;
    position: fixed;
    top: 90px;
    left: 55px;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100%;
    
}
.testNote svg  :not(.SvgName){
    margin-right: 8px;
}
.CardsNotes {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow-y: auto;
    min-height: 100%;
    

}
.title{
    display: flex;
    
}
.SvgName{
    margin: 10px;
}
.title h1{
    color: #343c56;
}
